<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="scss\styles.css.map" />
    <link rel="stylesheet" type="text/css" href="scss\styles.css" />
    <title>Back</title>
</head>

<body class="sentMessage">
    <div>
        <h1>Your Message Has Been Sent Successfully</h1>
        <button class="link__button">
            <a class="link" href="/">link to back page</a>
        </button>
    </div>
</body>

</html>